.header, .mainHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    padding: 0 2rem;
}

.header{
    background-color: lightcyan;
}

.flex{
    display: flex;
    align-items: center;
}

.mainHeader > a{
    color: white;
    font-weight: bold;
}

.header > a{
    color: black;
    font-weight: bold;
}
