.container{
    margin: 0px auto;
    padding: 1rem 0;
}

.ticket{
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    background-color: #B0E0E6;
    padding: 2rem;
    border-radius: 10px;
    font-size: 16px;
}

.day{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
}

.time{
    margin: auto 0px;
}

.logo {
    width: auto;
    height: 3rem;
}

.teams{
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;
    min-width: 45%;
    font-size: 22px;
}

.teams > p {
    margin: 0 1rem;
}

.league{
    display: flex;
    margin: 0 5rem;
    align-items: center;
    font-size: 18px;
    letter-spacing: 0;
    min-width: max-content;
}

.note{
    text-align: center;
    margin: auto 0px;
    width: 15%;
}

.img{
    cursor: pointer;
    margin-left: 2rem;
}

.actions {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.buy{
    background-color: #043b78;
    color: #fff;
    border: 1px solid #043b78;
    border-radius: 10px;
    padding: 1rem 3rem;
    cursor: pointer;
}

.buy:hover{
    background-color: #2938a9;
}

.played{
    background-color: #7693b4;
    color: #fff;
    border: 1px solid #7693b4;
    border-radius: 10px;
    padding: 1rem 3rem;
}