.body {
  margin: 0;
}

.content {
  min-height: calc(100vh - 10rem);
}

.main {
  display: inline-block;
  background-image: url('../../public/back-main.jpg');
  height: 100%; /* You must set a specified height */
  width: 100%;
  background-position: center;
  background-size: cover; /* Resize the background image to cover the entire container */
  color: #fff;
}

.logo {
  display: block;
  margin: 3rem auto;
  height: 15rem;
  width: auto;
}

.container {
  max-width: 50%;
  margin: 5rem auto; 
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  height: auto;
  margin-top: 2rem;
}

.welcome{
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  font-size: 36px;
}

.row > a{
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.block {
  background-color: #DAF0FB;
  height: 100%;
  padding: 3rem 8rem;
}

.block1{
  background-color: #d1d6d8;
  height: 100%;
  padding: 4rem 8rem;
}

.news{
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 0;
}

.ticketBlock {
  padding: 5rem;
}

.ticketCard {
  background: #124581;
  color: #fff;
  height: 400px;
  width: fit-content;
  border-radius: 10px;
  padding: 3rem;
  margin: 1rem 4rem;
}

.ticketCard > form {
  padding: 1rem;
}

.ticketCard > form > input {
  border-radius: 10px;
  padding: 0.75rem 6rem 0.75rem 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 14px;
}

.ticketCard > form > select{
  width: 100%;
  padding: 0.5rem 1rem;
  border-top-left-radius: 10px;
  border-radius: 10px;
  background: #fff;
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
