.main {
    background-color: black;
    color: #fff;
    padding: 2rem 4rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 0 auto;
    margin-top: auto;
}

.address {
    display: flex;
    flex-direction: column;
}

.address > p {
    margin: 0.5rem 0;
}